html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica,Arial,sans-serif;
}


/* Calligraphy
---------------------------------------------------- */

h2.title {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.7em;
  color: #132530;
  display: block;
  padding: 20px 10px;
}


/* Header & Navigation
---------------------------------------------------- */

.menu-content>a {
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Julius Sans One', sans-serif;
}

.navbar-default .navbar-nav>li>a {
  color: #FDFEFE;
  padding-top: 25px;
}

.navbar {
  background-color: transparent;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.vincentwang {
  margin: 5px 0px 5px 0px;
  float: left;
  text-align: center;
}

.vincentwang>a {
  font-family: 'Julius Sans One', sans-serif;
  display: inline;
  font-size: 3em;
  font-weight: 500;
  color: #FDFEFE;
  text-decoration: none;
  border: 2px solid #FDFEFE;
  padding: 1px 10px 0px 10px;
  margin: 0;
}


/* Openning
---------------------------------------------------- */

.openning {
  min-width: 1000px;
}

.openning img {
  display: block;
  max-width: 100%;
}

div.welcomeQuote {
  margin: 5em 2em 6em 2em;
  float: right;
  top: 20%;
  left: 7%;
  text-align: center;
}


/* About Me
---------------------------------------------------- */

#infoWrapper {
  background-color: #FFFFFF;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.introContainer {
  margin: 0px;
  width: 100%;
  position: relative;
  display: table;
  min-height: 400px;
}

.aboutMeDesc {
  display: table-cell;
  width: 50%;
  background-color: #8b8b8b;
}

.aboutMePic {
  display: table-cell;
  width: 50%;
  background-image: url('../images/profile/skydeck.jpg');
  background-size: cover;
  background-position: 50% 0%;
}

p.selfIntroduction {
  padding: 2em 2em 2em 2em;
  vertical-align: middle;
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .introContainer {
    display: block;
  }
  .aboutMeDesc, .aboutMePic {
    display: inline-block;
    width: 100%;
  }
  .aboutMePic {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 300px;
    width: 300px;
    border-radius: 300px;
  }
}

img.gallaryPic {
	text-align: center;
  max-width: 100%;
}

.newyork {
  /* The image used */
    background-image: url('../images/background/newyork.jpg');

    /* Set a specific height */
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Experience
---------------------------------------------------- */
.back img{
    display: block;
    max-width: 100%;
}

/* Resume
---------------------------------------------------- */

.resume {
  height: 10000px;
}


/* Layout
---------------------------------------------------- */

h1.title {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 3em;
  font-weight: 500;
  color: #132530;
  display: block;
  padding: 30px 0px 0px 0px;
}

h4.title {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2em;
  color: #132530;
  display: block;
  padding: 30px 0px 0px 0px;
}

hr.style-divider {
  padding: 0;
  border: none;
  border-top: 2px solid #ccc;
  color: #ccc;
  text-align: center;
  max-width: 400px;
  margin: 0 auto 50px auto;
}

hr.style-divider:after {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: -.4em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background-color: #8b8b8b;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}



/* Acoordian
---------------------------------------------------- */
.accordion {
  margin: 1em 0;
  padding: 10px 10px;
}

.accordion h3 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.8em;
  text-align: right;
  line-height: 60px;
  cursor: crosshair;
  background-color: #8b8b8b;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: auto;
  color: #fff;
  position: relative;
  padding: 20px 20px;
  min-height: 100px;
}
.trx {
  text-align: right;
}

.accordion h3:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.accordion div.pane {
  padding: 5px 10px
}

.accordion div.pane p {
  font-family: 'Open Sans', sans-serif;
}

h3.blueAccordion:hover {
  background-color: #28abe3;
}

h3.orangeAccordion:hover {
  background-color: #da4624;
}

h3.greenAccordion:hover {
  background-color: #219a71;
}

h3.yellowAccordion:hover {
  background-color: #ffc107;
}

h3.navyAccordion:hover {
  background-color: #354458;
}

h3.cryanAccordion:hover {
  background-color: #29aba4;
}

h3.pinkAccordion:hover {
  background-color: #eb7260;
}

h3.darkBlueAccordion:hover {
  background-color: #4298b5;
}

h3.jadeAccordion:hover {
  background-color: #7accc8;
}

h3.grassAccordion:hover {
  background-color: #8bad39;
}

h3.jadeAccordion:hover {
  background-color: #7accc8;
}


/* Speech
---------------------------------------------------- */
.speech {
  background-image: url('../images/life/speech.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
}

/* Awards
---------------------------------------------------- */
#awards {
  background-color: #354458;
  color: #fff;
}

#awardsList {
  width: 600px;
  margin: 0 auto;
}
ul.awards {
	display: inline;
	list-style-type: none;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin: 0px 40px 0 0;
}

ul.awards li {
  font-size: 1.5em;
  margin: 10px 0;
}

ul.awards li.awardDesc {
  margin: 15px 0;
  font-size: 1em;
  margin-bottom: 30px;
}

/* Contact
---------------------------------------------------- */
ul.contactAddress {
	display: block;
	list-style-type: none;
	text-align: center;
	font-family: Arial, sans-serif;
	margin: 0px 40px 0 0;
}

ul.contactAddress li.emailAddress a {
	text-decoration: none;
	color: #000;
	letter-spacing: 1px;
	font-size: 15px;
}
ul.contactAddress li.emailAddress a:hover {
  color: rgb(34, 134, 187);
}

ul.contactAddress li{
	margin: 1.5em auto;
}

ul.social{
	display: block;
	list-style-type: none;
	text-align: center;
	margin: 10px 40px 30px 0;
}
ul.social li{
	font-size: em;
	display: inline;
	padding:0 2%;
}
ul.social li a{
	color: #666;
}

ul.social li.instagram a:hover{color: #843232;}
ul.social li.linkedin a:hover{color: rgb(34, 134, 187);}
ul.social li.github a:hover{color: #bc4c4c;}

/* Footer
---------------------------------------------------- */
footer{
	background-color:#354458;
	text-align: center;
  	position: relative;
  	padding: 20px 15px 5px 15px;
}


h1.bottomGoodbye{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 2.5em;
	color:#FFFFFF;
	display: block;
	text-align: center;
}

p.copyright{
	text-align: center;
	color: #B3B6B7;
	font-size: 1em;
}

/* Elements (Button)
---------------------------------------------------- */
.clickButton {
	margin: 2% 0;
  text-align: center;
}

.clickButton a{
  border: 3px solid #132530;
  display: inline-block;
	text-decoration: none;
	padding: 3px 5px;
	color: #132530;
	text-align: center;
}

.clickButton a:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
