html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Header & Navigation
---------------------------------------------------- */
.vincentwang{
	margin: 5px 0px 5px 0px;
	float: left;
	text-align: center;
}
.vincentwang {
	font-family: 'Julius Sans One', sans-serif;
    display: inline;
	font-size: 2em;
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;
	padding: 1px 10px 0px 10px;
	margin: 0;
}


/* Openning
---------------------------------------------------- */


/* Resume
---------------------------------------------------- */
